*{
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    outline: none;
    text-decoration: none;
}
:root{
    --background-gradiente1-day:rgba(242, 245, 103, 0.986);
    --background-gradiente2-day:rgb(9, 247, 215);
    --background-gradiente3-day:rgb(245, 255, 111);

    --background-gradiente1-afternoon:rgb(250, 206, 124);
    --background-gradiente2-afternoon:rgb(228, 149, 4);
    --background-gradiente3-afternoon:rgb(165, 109, 6);

    --background-gradiente1-night:rgb(26, 0, 119);
    --background-gradiente2-night:rgb(14, 0, 48);
    --background-gradiente3-night:rgb(22, 0, 56);

    --border-color: gray;
    --color-btn-header:black;
    --background-color-transp: rgba(255, 255, 255, 0.822);
    --color-input-text: black;
    --color-text-night: rgb(255, 255, 255);
    --color-text-day: black;
    --color-text-afternoon:black;
}

body{
    background: linear-gradient(300deg, var(--background-gradiente1-night), var(--background-gradiente2-night), var(--background-gradiente3-night));
    /* background: linear-gradient(300deg, var(--background-gradiente1-day), var(--background-gradiente2-day), var(--background-gradiente3-day)); */
    background-size: 600% 600%;
    animation: gradientShift 3s ease infinite;
}
.grid{
    display: grid;
    grid-template-areas: 
    'header header'
    'box box'
    'main main';
    border: 1px solid rgb(255, 0, 0);

}
.grid-nav{ 
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;

}
#input-header{
    border-radius: 10px;
    width: 290px;
    height: 30px;
    background-color: var(--background-color-transp);
    padding-left: 10px;
    border: none;
    cursor: pointer;
}

#button-header{
    border-radius: 10px;
    border: none;
    background-color: var(--background-color-transp);
    padding: 5px 10px;
    color: var(--color-btn-header);
}

.grid-main{
    grid-area: main;
    color: var(--color-text-night);
    height: 100vh;

    display: flex;
    justify-content: center;
    text-align: center;
    padding: 40px 0px;
}


#location-clima-main{font-size: 1.5rem;}
#weather-clima{font-size: 3rem;}
.box-weather{
    width: 100%;
}
.box-main-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;

}

.grid-week{
    grid-area: box;
    display: flex;
    gap: 5px;
    overflow-x: auto; 
    scroll-snap-type: x mandatory; 
    -webkit-overflow-scrolling: touch; 
    padding: 20px;
}

.grid-week::-webkit-scrollbar{
    display: none;
}
.box-week{
    flex: 0 0 auto; 
    width: 220px;
    height: 30px;
    border-radius: 30px;
    background-color: var(--background-color-transp);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    scroll-snap-align: start; 
    cursor: grab;
    font-size: 0.7rem;
    flex-wrap: wrap;
    padding: 5px;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
